
/* Selector Universal*/
*{
    
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector de ID */
#contenedor{
    width: 900px;
    height: 1200px;
    background-color: #d49e23;

}

#encabezado{
    height: 25%;
    background-color: #d9bd1f;
    margin: 1em;
}

#menu{

    height: 5%;
    background-color: #713505;
}

#contenido1{
    float: left;
    height: 30%;
    background-color: #b01a1c;
    border-radius: 2px color #68531e;
    
}

#contenido2{
    float: right;
    height: 30%;
    background-color: #dcc43c;
    border-radius: 2px color #68531e;
}

#pie{

    height: 10%;
    background-color:  #744607;
}

/* Selector de clase */
.Texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    color: whitesmoke;
    width: 50%;
}

.Texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    color: black;
    width: 50%;
    float: right;
}

.encabezado1{
    text-align: left;
    background-color: #971719;
    color: white;
}

.encabezado2{
    text-align: right;
    background-color: #99892d;
    color: black;

}


/* selector de etiqueta */

ul{
    
    
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}

img{
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px solid;
}